.avatar {
  width: 300px;
  height: auto;
  position: relative;
  display: block;
}

.main-text {
  width: 40%;
}

@media (max-width: 1000px) {
  .avatar {
    width: 200px;
  }

  .main-text {
    margin-top: 60px;
  }
}
