<header>
  <div class="header-left">
    <h1 class="logo">Artem Trubin</h1>
    <h2>Junior Front-end Developer</h2>
  </div>
  <div class="header-right">
    <nav>
      <ul class="header-nav">
        <li><a {% if pageName === 'home'%}class="current-page"{% endif %} href="index.html">Home</a></li>
        <li><a {% if pageName === 'bio'%}class="current-page"{% endif %} href="bio.html">Bio</a></li>
        <li><a {% if pageName === 'myworks'%}class="current-page"{% endif %} href="myworks.html">My Works</a></li>
        <li><a {% if pageName === 'contacts'%}class="current-page"{% endif %} href="contacts.html">Contacts</a></li>
      </ul>
    </nav>
  </div>
  <div class="mobile-header-button"></div>
</header>
