---
title: Artem Trubin
permalink: index.html
layout: page.njk
pageName: home
---


<main>
  <div class="main-center">
    <div class="img-container">
      <img
        class="avatar picture"
        src="assets/avatar.jpg"
        alt="Artem Trubin photo"
      />
    </div>
    <p class="main-text">
      My name is <b>Artem Trubin</b> and I am a front-end developer
      currently located in Kyiv. I am in constant search of new experience
      and knowledge, and I would like to work for you! I believe that my
      desire for new techniques and constant improvement can help you
      build excellent products.
    </p>
  </div>
</main>


